<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>เกี่ยวกับผู้พัฒนา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div style="background: white url(../../../../assets/image/ภาพล็อกอิน.jpg) center center;
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;">
        <iframe style="width:100%;height:100%;border:none;overflow: hidden;"  [src]="safeUrl"></iframe>
    </div>
  </ion-content>
  