<ion-header >
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button> 
          </ion-buttons>
      <ion-title>บทเรียน</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div style="background: white url(../../../../assets/image/ภาพเนื้อหา.jpg)center center;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;">
    <ion-list>
  
      <ion-list-header>
        <ion-label><h2>บทเรียน</h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-searchbar showCancelButton="always" (ionInput)="getItems($event)" (ionClear)="getLessons('')"></ion-searchbar>
      </ion-item>
      <ion-item class="item-label item ios in-list ion-focusable hydrated" *ngFor="let i of lessons" (click)="lessonDetail(i)">
        <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
          <h2><ion-icon name="book"></ion-icon> {{i.name}}</h2> 
        </ion-label>
      </ion-item>
  
    </ion-list>
    </div>
  </ion-content>