
  <ion-content>
      <div style="
                    background: white url(../../../../assets/image/ภาพพื้นหลัง.jpg) center;
                width: 100%;
                height: 100%;
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;">
                <div style="text-align: center;" width-50>

                    <ion-grid>
                        <ion-row justify-content-center align-items-end style="height:100%">
                             
                             <div class="center">
                                    <img (click)="login()" style="width: 200px;" src="../../assets/image/เข้าชั้นเรียน.jpg">
                             </div>
                        </ion-row>
                   </ion-grid>

                    
                </div>
      </div>
  </ion-content>